@import url("background.css");
@import url("card.css");
@import url("showhide.js");

.container{
  margin: 0 auto;
}

.title-section{
  font-family: "DM Serif Text", serif;
  background-color: black;
  text-align: right;
  width: 60%;
  padding-right: 15px;
  background: linear-gradient(-45deg, #0d396f, #3c64e7, #23a6d5, #c7ece4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.child {
  display: inline-block;
}

body{
  font-family: "Open Sans","Lato", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
}

.card-white {padding:15px;
    background:rgba(255, 255, 255, 0.469);
    margin:20px;
    border-radius:1%;
    box-shadow:0 0 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.image-shadow{box-shadow: 5px 5px 3px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
  margin-top: 100px;
}

#section-highlight{
  background:rgba(46, 93, 114, 0.5);
}

#section-highlight p {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px 2px #4c4c4c;
}

#sub-heading{
  color: whitesmoke;
  font-weight: 200;
  font-size: 20px;
/*   font-family: Chivo, Sans-Serif; */
}

 h1 {
  text-transform: uppercase;
  font-weight: 150px;
  font-size: 7vw;
  font-family: "DM Serif Text", serif;
  line-height : 0.8;
}

#section-highlight h3 {
  text-transform: uppercase;
  font-family: "Open Sans","Lato", sans-serif;
  color: white;
}

h3 {text-transform: uppercase;
  font-family: "Open Sans","Lato", sans-serif;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px
}

ul{padding: 0}

.link-icons{
  font-size: 40px;
  color: rgb(59, 58, 58);
}

.contact-button {
  transition-duration: 0.4s;
  width: 100vw;
  border: none;
  padding: 10px;
  background-color: rgb(59, 58, 58, 0.8);
  color: whitesmoke;
  letter-spacing: 1px;
  font-family: "Open Sans","Lato", sans-serif;
}

.contact-button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

div{
  font-size: 14;
}

#hidden-contact{
  display: none;
 }
/*  */
/*  .hidden-contact:target{ */
/*   display: block; */
/*  } */

.text-closing{text-align:center;}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
